<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class=" border-right side-nav" id="sidebar-wrapper">
          <div class="sidebar-heading text-center side-header">Start Bootstrap </div>
          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action  side-nav-one"><i class="fa fa-pencil side-icon" aria-hidden="true"></i>Dash board</a>
            <a href="#" class="list-group-item list-group-item-action  side-nav-one"><i class="fa fa-tasks side-icon" aria-hidden="true"></i>Short cuts</a>
            <a href="#" class="list-group-item list-group-item-action  side-nav-one"><i class="fa fa-file-text-o side-icon" aria-hidden="true"></i>Over view</a>
            <a href="#" class="list-group-item list-group-item-action  side-nav-one"><i class="fa fa-table side-icon" aria-hidden="true"></i>Events</a>
            <a href="#" class="list-group-item list-group-item-action  side-nav-one"><i class="fa fa-user side-icon" aria-hidden="true"></i>Profile</a>
            <a href="#" class="list-group-item list-group-item-action  side-nav-one">Status</a>
          </div>
        </div>
        <!-- /#sidebar-wrapper -->
    
        <!-- Page Content -->
        <div id="page-content-wrapper">
    
         <div class="container-fluid header">
           <div class="row header-one">
             <!-- <div class="col-lg-8 searchengin col-md-4 col-sm-8"> 
               <div class="search">
                <i class="fa fa-search" aria-hidden="true"></i><input class="search1" type="text" placeholder="Searching for something...">
                </div>
             </div>
             <div class="col-lg-1 bell col-md-4 col-sm-6">
                 <a href="http://"><i class="fa fa-bell" aria-hidden="true"></i></a>
             </div>
             <div class="col-lg-2 face col-md-4 col-sm-6">
                                      
             </div> -->
             <div class="input-group col-12 header-two">
              <i class="fa fa-search s-icon" aria-hidden="true"></i><input type="text" class="form-control searchengin" placeholder="Search for something..." aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
              <div class="input-group-append input-text-grp" id="button-addon4">
                <a href="http://"><i class="fa fa-bell b-icon " aria-hidden="true"></i><span class="badge badge-pill badge-danger">2</span></a>
                <div class="down">
                  dropdown
                </div>
              </div>
            </div>

           </div>

         </div>
    
          <div class="container-fluid dashboard">
            <div class="page-header row col-12 col-sm-4">
                <span class="text-uppercase page-subtitle">Dashboard</span>
                <h3 class="page-title">Blog Overview</h3>
            </div>
          </div>
          <div class="container-fluid box ">
              <div class="row">
                  <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="card text-center post" style="width: 12rem;">
                        <div class="card-body ">
                          
                            <span class="title">POSTS</span>
                          <h5 class="card-title " >2,390</h5>
                          <span class="stats-small__percentage stats-small__percentage--increase"><img src="./image/download.svg" alt="" srcset=""> 4.7%</span>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="card text-center post" style="width: 12rem;">
                        <div class="card-body ">
                          <span class="title">PAGES</span>
                          <h5 class="card-title">182</h5>
                          <span class="stats-small__percentage stats-small__percentage--increase"> <img src="./image/download.svg" alt="" srcset=""> 4.7%</span>
                        
                        </div>
                        
                      </div>
                  </div>
                  <div class="col-lg-2 col-md-4 col-sm-6 ">
                    <div class="card text-center post " style="width: 12rem;">
                        <div class="card-body">
                            <span class="title">COMMENTS</span>
                          <h5 class="card-title ">8,147</h5>
                          <span class="stats-small__percentage stats-small__percentage--increase">4.7%</span>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-2 col-md-4 col-sm-6">
                      <div class="card text-center post" style="width: 12rem;">
                    <div class="card-body">
                        <span class="title">USERS</span>
                      <h5 class="card-title">2,413</h5>
                      <span class="stats-small__percentage stats-small__percentage--increase"><img src="./image/download.svg" alt="" srcset=""> 4.7%</span>
                      
                    </div>
                  </div>
                </div>
                  <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="card text-center post " style="width: 12rem;">
                        <div class="card-body">
                            <span class="title">SUBSCRIBERS</span>
                          <h5 class="card-title">17,281</h5>
                          <span class="stats-small__percentage stats-small__percentage--increase">4.7%</span>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="container">
            <div class="row">
            <div class="col-6">
              <canvas id="chLine"></canvas>
            </div>

            </div>

          </div>
        </div>  
             
      </div>
      
      <!-- <script src="../node_modules/bootstrap/js/dist/dropdown.js"></script> -->
       <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
      <script src="../node_modules/echarts/dist/echarts.js"></script>
      <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->
    <script>
      var chLine = document.getElementById("chLine");
if (chLine) {
  new Chart(chLine, {
  type: 'line',
  data: chartData,
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: false
        }
      }]
    },
    legend: {
      display: false
    }
  }
  });
}
    </script>
</body>
</html>