<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Dashboard</title>
  <link rel="stylesheet" href="../app/style/radhika.css">
  
  
  <!-- <link rel="stylesheet" href="./style/style.css"> -->
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
  <div class="d-flex t-one" id="wrapper">

    <!-- Sidebar -->
    <div class=" border-right side-nav " id="sidebar-wrapper ">
      <div class="sidebar-heading text-center  side-header">FOODIE </div>
      <div class="list-group list-group-flush">
        <a href="index.html" class="list-group-item list-group-item-action  side-nav-one"><i
            class="fa fa-pencil side-icon" aria-hidden="true"></i>Dash board</a>
        <a href="total file/tabel.html" class="list-group-item list-group-item-action  side-nav-one"><i
            class="fa fa-tasks side-icon" aria-hidden="true"></i>Short cuts</a>
        <a href="" class="list-group-item list-group-item-action  side-nav-one"><i
            class="fa fa-file-text-o side-icon" aria-hidden="true"></i>Over view</a>
        <a href="total file/events.html" class="list-group-item list-group-item-action  side-nav-one"><i class="fa fa-table side-icon"
            aria-hidden="true"></i>Events</a>
        <a href="total file/foodlist.html" class="list-group-item list-group-item-action  side-nav-one"><i class="fa fa-user side-icon"
            aria-hidden="true"></i>Profile</a>
        <a href="#" class="list-group-item list-group-item-action  side-nav-one">Status</a>
        <a href="total file/charts.html" class="list-group-item list-group-item-action  side-nav-one"><i class="fa fa-user side-icon"
          aria-hidden="true"></i>Charts</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" class="total container-fluid">



      <div class="row header-one ">
        <div class="input-group sticky-top bg-white  header-two">
          <i class="fa fa-search s-icon" aria-hidden="true"></i><input type="text" class="form-control searchengin"
            placeholder="Search for something..." aria-label="Recipient's username with two button addons"
            aria-describedby="button-addon4">
          <div class="input-group-append input-text-grp bell-icon" id="button-addon4">
            <div class="b-bor">
              <a href="http://"><i class="fa fa-bell b-icon " aria-hidden="true"></i><span
                  class="badge badge-pill badge-danger">2</span></a>
            </div>
            <div class="down">
              <h6>About-Us</h6>
            </div>
          </div>
        </div>

      </div>



      <div class=" dashboard  ">

        <div class=" row">
          <div class="page-header col-lg-12 col-sm-12 col-md-4 ">
            <span class="text-uppercase page-subtitle">Dashboard</span>
            <h3 class="page-title">Blog Overview</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg col-md-4 col-sm-12  boxshow-1">
          <div class="card text-center post">
            <div class="card-body ">

              <span class="title">POSTS</span>
              <h5 class="card-title ">2,290</h5>
              <span class="stats-small__percentage stats-small__percentage--increase"><img src="./image/download.svg"
                  alt="" srcset=""> 4.7%</span>
            </div>
          </div>
        </div>
        <div class="col-lg col-md-4 col-sm-12  boxshow-1">
          <div class="card text-center post">
            <div class="card-body ">
              <span class="title">PAGES</span>
              <h5 class="card-title">182</h5>
              <span class="stats-small__percentage stats-small__percentage--increase"> <img src="./image/download.svg"
                  alt="" srcset=""> 4.7%</span>

            </div>

          </div>
        </div>
        <div class="col-lg col-md-4 col-sm-12 boxshow-1">
          <div class="card text-center post ">
            <div class="card-body">
              <span class="title">COMMENTS</span>
              <h5 class="card-title ">8,147</h5>
              <span class="stats-small__percentage stats-small__percentage--increase">4.7%</span>
            </div>
          </div>
        </div>
        <div class="col-lg col-md-4 col-sm-12 boxshow-1">
          <div class="card text-center post">
            <div class="card-body">
              <span class="title">USERS</span>
              <h5 class="card-title">2,412</h5>
              <span class="stats-small__percentage stats-small__percentage--increase "><img src="./image/download.svg"
                  alt="" srcset=""> 4.7%</span>

            </div>
          </div>
        </div>
        <div class="col-lg col-md-4 col-sm-12  boxshow-1">
          <div class="card text-center post">
            <div class="card-body ">

              <span class="title">POSTS</span>
              <h5 class="card-title ">2,390</h5>
              <span class="stats-small__percentage stats-small__percentage--increase">
                <img src="./image/download.svg" alt="" srcset=""> 4.7%</span>
            </div>
          </div>
        </div>


      </div>


      <div class="row">

        <div class="col-lg col-sm-12 col-md-5 customer">

          <div class="col-12 card-header border-bottom bg-white">
            <h6 class="m-0">Customer Area</h6>
          </div>
            <div class="row border-bottom py-2 bg-light">
            <div class="col-12 col-sm-6">
              <div id="blog-overview-date-range"
                class="input-daterange input-group input-group-sm my-auto ml-auto mr-auto ml-sm-auto mr-sm-0"
                style="max-width: 350px;">
                <input type="text" class="input-sm form-control" name="start" placeholder="Start Date"
                  id="blog-overview-date-range-1">
                <input type="text" class="input-sm form-control" name="end" placeholder="End Date"
                  id="blog-overview-date-range-2">
                <span class="input-group-append">
                  <span class="input-group-text">
                    <i class="material-icons"></i>
                  </span>
                </span>
              </div>
            </div>
            <div class="col-12 col-sm-6 d-flex mb-2 mb-sm-0">
              <button type="button" class="btn btn-sm btn-white ml-auto mr-auto ml-sm-auto mr-sm-0 mt-3 mt-sm-0">View
                Full Report →</button>
            </div>
          </div>
          <div id="local" style="width: 500px; height: 300px;">

          </div>

        </div>
        <div class="col-lg col-sm-12 col-md-5 deliver">
          <div class="card-header border-bottom">
            <h6 class="m-0">sales</h6>
          </div>

          <div class="col-xl-12">
            <div class="card">
              <div class="card-header border-0 pb-0 d-sm-flex d-block">
                <div>
                  <h4 class="card-title mb-1">Trending Items</h4>
                  <small class="mb-0">Continuesly buy items for customer</small>
                </div>
                <div class="dropdown mt-3 mt-sm-0">
                  <button type="button" class="btn btn-primary dropdown-toggle light fs-14" data-toggle="dropdown"
                    aria-expanded="false">
                    Weekly
                  </button>
                  <div class="dropdown-menu" x-placement="bottom-start"
                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 43px, 0px);">
                    <a class="dropdown-item" href="javascript:void(0);">Daily</a>
                    <a class="dropdown-item" href="javascript:void(0);">Weekly</a>
                    <a class="dropdown-item" href="javascript:void(0);">Monthly</a>
                  </div>
                </div>
              </div>
              <div class="card-body p-0 pt-3">
                <div class="media items-list-1">
                  <span class="number col-1 px-0 align-self-center">#1</span>
                  <a href="ecom-product-detail.html"><img class="img-fluid rounded mr-3" width="85"
                      src="../app/image/briyani.jpg" alt="DexignZone"></a>
                  <div class="media-body col-sm-4 col-6 col-xxl-5 px-0">
                    <h5 class="mt-0 mb-3"><a class="text-black" href="ecom-product-detail.html">CHICKEN BRIYANI</a></h5>
                    <small class="font-w500"><strong class="text-secondary mr-2">$150</strong> <a class="text-primary"
                        href="javascript:void(0);">BRIYANI</a></small>
                  </div>
                  <div class="media-footer ml-auto col-3 px-0 d-flex align-self-center align-items-center">
                    <div class="mr-3">
                      <span class="peity-success" data-style="width:100%;" style="display: none;">0,2,1,4</span><svg
                        class="peity" height="30" width="47">
                        <polygon fill="rgba(48, 194, 89, .2)"
                          points="0 28.5 0 28.5 15.666666666666666 15 31.333333333333332 21.75 47 1.5 47 28.5">
                        </polygon>
                        <polyline fill="none" points="0 28.5 15.666666666666666 15 31.333333333333332 21.75 47 1.5"
                          stroke="#30c259" stroke-width="3" stroke-linecap="square"></polyline>
                      </svg>
                    </div>
                    <div>
                      <h3 class="mb-0 font-w600 text-black">524</h3>
                      <span class="fs-14">Sales (12%)</span>
                    </div>
                  </div>
                </div>
                <div class="media items-list-1">
                  <span class="number col-1 px-0 align-self-center">#2</span>
                  <a href="ecom-product-detail.html"><img class="img-fluid rounded mr-3" width="85"
                      src="../app/image/food-1.jpg" alt="DexignZone"></a>
                  <div class="media-body col-sm-4 col-6 col-xxl-5 px-0">
                    <h5 class="mt-0 mb-3 text-black"><a class="text-black" href="ecom-product-detail.html">Tuna soup
                        spinach with himalaya salt</a></h5>
                    <small class="font-w500"><strong class="text-secondary mr-2">$12.56</strong> <a class="text-primary"
                        href="javascript:void(0);">JUICE</a></small>
                  </div>
                  <div class="media-footer ml-auto col-3 px-0 d-flex align-self-center align-items-center">
                    <div class="mr-3">
                      <span class="peity-danger" data-style="width:100%;" style="display: none;">4,1,2,0</span><svg
                        class="peity" height="30" width="47">
                        <polygon fill="rgba(248, 79, 78, .2)"
                          points="0 28.5 0 1.5 15.666666666666666 21.75 31.333333333333332 15 47 28.5 47 28.5">
                        </polygon>
                        <polyline fill="none" points="0 1.5 15.666666666666666 21.75 31.333333333333332 15 47 28.5"
                          stroke="#f84f4e" stroke-width="3" stroke-linecap="square"></polyline>
                      </svg>
                    </div>
                    <div>
                      <h3 class="mb-0 font-w600 text-black">215</h3>
                      <span class="fs-14">Sales (12%)</span>
                    </div>
                  </div>
                </div>
                <div class="media items-list-1">
                  <span class="number col-1 px-0 align-self-center">#3</span>
                  <a href="ecom-product-detail.html"><img class="img-fluid rounded mr-3" width="85"
                      src="./images/dish/pic3.jpg" alt="DexignZone"></a>
                  <div class="media-body col-sm-4 col-6 col-xxl-5 px-0">
                    <h5 class="mt-0 mb-3 text-black"><a class="text-black" href="ecom-product-detail.html">Chicken curry
                        special with cucumber</a></h5>
                    <small class="font-w500"><strong class="text-secondary mr-2">$12.56</strong> <a class="text-primary"
                        href="javascript:void(0);">PIZZA</a></small>
                  </div>
                  <div class="media-footer ml-auto col-3 px-0 d-flex align-self-center align-items-center">
                    <div class="mr-3">
                      <span class="peity-success" data-style="width:100%;" style="display: none;">0,2,1,4</span><svg
                        class="peity" height="30" width="47">
                        <polygon fill="rgba(48, 194, 89, .2)"
                          points="0 28.5 0 28.5 15.666666666666666 15 31.333333333333332 21.75 47 1.5 47 28.5">
                        </polygon>
                        <polyline fill="none" points="0 28.5 15.666666666666666 15 31.333333333333332 21.75 47 1.5"
                          stroke="#30c259" stroke-width="3" stroke-linecap="square"></polyline>
                      </svg>
                    </div>
                    <div>
                      <h3 class="mb-0 font-w600 text-black">524</h3>
                      <span class="fs-14">Sales (12%)</span>
                    </div>
                  </div>
                </div>
                <div class="media items-list-1">
                  <span class="number col-1 px-0 align-self-center">#4</span>
                  <a href="ecom-product-detail.html"><img class="img-fluid rounded mr-3" width="85"
                      src="./images/dish/pic4.jpg" alt="DexignZone"></a>
                  <div class="media-body col-sm-4 col-6 col-xxl-5 px-0">
                    <h5 class="mt-0 mb-3 text-black"><a class="text-black" href="ecom-product-detail.html">Watermelon
                        juice with ice</a></h5>
                    <small class="font-w500"><strong class="text-secondary mr-2">$12.56</strong> <a class="text-primary"
                        href="javascript:void(0);">PIZZA</a></small>
                  </div>
                  <div class="media-footer ml-auto col-3 px-0 d-flex align-self-center align-items-center">
                    <div class="mr-3">
                      <span class="peity-success" data-style="width:100%;" style="display: none;">0,2,1,4</span><svg
                        class="peity" height="30" width="47">
                        <polygon fill="rgba(48, 194, 89, .2)"
                          points="0 28.5 0 28.5 15.666666666666666 15 31.333333333333332 21.75 47 1.5 47 28.5">
                        </polygon>
                        <polyline fill="none" points="0 28.5 15.666666666666666 15 31.333333333333332 21.75 47 1.5"
                          stroke="#30c259" stroke-width="3" stroke-linecap="square"></polyline>
                      </svg>
                    </div>
                    <div>
                      <h3 class="mb-0 font-w600 text-black">76</h3>
                      <span class="fs-14">Sales (12%)</span>
                    </div>
                  </div>
                </div>
                <div class="media items-list-1">
                  <span class="number col-1 px-0 align-self-center">#5</span>
                  <a href="ecom-product-detail.html"><img class="img-fluid rounded mr-3" width="85"
                      src="./images/dish/pic5.jpg" alt="DexignZone"></a>
                  <div class="media-body col-sm-4 col-6 col-xxl-5 px-0">
                    <h5 class="mt-0 mb-3 text-black"><a class="text-black" href="ecom-product-detail.html">Tuna soup
                        spinach with himalaya salt</a></h5>
                    <small class="font-w500"><strong class="text-secondary mr-2">$12.56</strong> <a class="text-primary"
                        href="javascript:void(0);">BURGER</a></small>
                  </div>
                  <div class="media-footer ml-auto col-3 px-0 d-flex align-self-center align-items-center">
                    <div class="mr-3">
                      <span class="peity-danger" data-style="width:100%;" style="display: none;">4,1,2,0</span><svg
                        class="peity" height="30" width="47">
                        <polygon fill="rgba(248, 79, 78, .2)"
                          points="0 28.5 0 1.5 15.666666666666666 21.75 31.333333333333332 15 47 28.5 47 28.5">
                        </polygon>
                        <polyline fill="none" points="0 1.5 15.666666666666666 21.75 31.333333333333332 15 47 28.5"
                          stroke="#f84f4e" stroke-width="3" stroke-linecap="square"></polyline>
                      </svg>
                    </div>
                    <div>
                      <h3 class="mb-0 font-w600 text-black">180</h3>
                      <span class="fs-14">Sales (12%)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-8 customer">
            <div class=" card-title text-center">
          <h4 class="cust">Yearly Profit</h4>
            </div>
           <div id="local" style="width: 500px; height: 300px;">
          
          </div>
           
         </div>
         <div class="col-lg-5 col-sm-12 col-md-8 deliver">
             <div class="card-title text-center">
           <h4><p> Customer Growth</P></p></h4>
             </div>
          <div  id="chline" style="width: 460px; height: 300px;"></div>
        </div>
        </div>

      </div>
      


      <div class="row">
        <div class="col-lg-10 col-sm-4 col-md-5 table-one">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Store-Name</th>
                <th scope="col">Address</th>
                <th scope="col">Contact</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Tamil-food</td>
                <td>N.o:20,north street,chathram</td>
                <td>123456789</td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>123456789</td>

              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>Thornton</td>
                <td>@twitter</td>
                <td>123456789</td>

              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Larry the Bird</td>
                <td>Thornton</td>
                <td>@twitter</td>
                <td>123456789</td>

              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Larry the Bird</td>
                <td>Thornton</td>
                <td>@twitter</td>
                <td>123456789</td>

              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Larry the Bird</td>
                <td>Thornton</td>
                <td>@twitter</td>
                <td>123456789</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>

  </div>



  <script src="../node_modules/bootstrap/js/dist/dropdown.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../node_modules/echarts/dist/echarts.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->

  <!-- // script one  -->

  <script type="text/javascript">
    var charttwo = echarts.init(document.getElementById("chline"));
    option = {
      xAxis: {
        type: 'category',
        data: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JULY']
      },
      yAxis: {
        type: 'value'
      },
      series: [{
        data: [820, 932, 901, 934, 1290, 1330, 1320],
        type: 'line',
        smooth: true
      }]
    };

    charttwo.setOption(option);
  </script>
  
  <script type="text/javascript">
    var mychartone = echarts.init(document.getElementById("local"));
 var option = {
    tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b}: {c} ({d}%)'
    },
    legend: {
        orient: 'vertical',
        left: 10,
        data: ['Alangulam', 'Tenkasi', 'Tirunelveli', 'Nallur', 'Pavoorchathram']
    },
    series: [
        {
            name: 'Customers Area',
            type: 'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
                show: false,
                position: 'center'
            },
            emphasis: {
                label: {
                    show: true,
                    fontSize: '30',
                    fontWeight: 'bold'
                }
            },
            labelLine: {
                show: false
            },
            data: [
                {value: 335, name: 'Alangulam'},
                {value: 310, name: 'Tenkasi'},
                {value: 234, name: 'Tirunelveli'},
                {value: 135, name: 'Nallur'},
                {value: 1548, name: 'Pavoorchathram'}
            ]
        }
    ]
};
mychartone.setOption(option);
  </script>

</body>

</html>
