body{
    /* background-color: #F5F6F8; */
    background-color: rgb(245, 246, 248);
   
}
.navbar{
    width: 100%;
}
.side-nav{
    width: 18%;
}
.dashboard{
    margin-top: 21px;
}
.dashboard .page-header .page-title{

    font-size: 1.625rem;
    font-weight: 500;
    line-height: 1;
    margin-top: 15px;
    padding: 0;
    color: #3d5170;
}
.dashboard .page-subtitle{
    max-width: 1px;
    letter-spacing: .125rem;
    color: #818ea3;
    font-size: .625rem;
}
    .post{
        box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
margin: 10px;
border: none;
max-height: 7.9rem;

}
.box .col-lg-2{
    max-width: 13.400rem;
}

 
.card-body .title{
    font-size: 0.75rem;
    letter-spacing: .0625rem;
    color: #818ea3;
    font-weight: 500;
}
.card-body .card-title{
    font-size: 2.065rem;
    font-weight: 500;
    color: #3d5170;
}
.card-body .stats-small__percentage{
    font-size: .75rem;

}
.col-lg-2{
    max-width: 18.666667%;
    max-width: 20.666667%;
}
 