<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Dashboard</title>
  <link rel="stylesheet" href="../style/style.css">
  <!-- <link rel="stylesheet" href="./style/style.css"> -->
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
  <div class="d-flex t-one" id="wrapper">

    <!-- Sidebar -->
    <div class=" border-right side-nav " id="sidebar-wrapper ">
      <div class="sidebar-heading text-center  side-header">FOODIE </div>
      <div class="list-group list-group-flush">
        <a href="../index.html" class="list-group-item list-group-item-action  side-nav-one"><i
            class="fa fa-pencil side-icon" aria-hidden="true"></i>Dash board</a>
        <a href="" class="list-group-item list-group-item-action  side-nav-one"><i
            class="fa fa-tasks side-icon" aria-hidden="true"></i>Short cuts</a>
        <a href="" class="list-group-item list-group-item-action  side-nav-one"><i
            class="fa fa-file-text-o side-icon" aria-hidden="true"></i>Over view</a>
        <a href="events.html" class="list-group-item list-group-item-action  side-nav-one"><i class="fa fa-table side-icon"
            aria-hidden="true"></i>Events</a>
        <a href="foodlist.html" class="list-group-item list-group-item-action  side-nav-one"><i class="fa fa-user side-icon"
            aria-hidden="true"></i>Profile</a>
        <a href="#" class="list-group-item list-group-item-action  side-nav-one">Status</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" class="total container-fluid">



      <div class="row header-one ">
        <div class="input-group sticky-top bg-white  header-two">
          <i class="fa fa-search s-icon" aria-hidden="true"></i><input type="text" class="form-control searchengin"
            placeholder="Search for something..." aria-label="Recipient's username with two button addons"
            aria-describedby="button-addon4">
          <div class="input-group-append input-text-grp bell-icon" id="button-addon4">
            <div class="b-bor">
              <a href="http://"><i class="fa fa-bell b-icon " aria-hidden="true"></i><span
                  class="badge badge-pill badge-danger">2</span></a>
            </div>
            <div class="down">
              <h6>About-Us</h6>
            </div>
          </div>
        </div>

      </div>
    
      <div class="row">
    

          <div class="col-xl-12">
            <div class="card">
              <div class="card-header border-0 pb-0 d-sm-flex d-block">
                <div>
                  <h4 class="card-title mb-1">Trending Items</h4>
                  <small class="mb-0">Continuesly buy items for customer</small>
                </div>
                <div class="dropdown mt-3 mt-sm-0">
                  <button type="button" class="btn btn-primary dropdown-toggle light fs-14" data-toggle="dropdown"
                    aria-expanded="false">
                    Weekly
                  </button>
                  <div class="menu" x-placement="bottom-start"
                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 43px, 0px);">
                   
                    
                  </div>
                </div>
              </div>
              <div class="card-body p-0 pt-3">
                <div class="media items-list-1">
                  <span class="number col-1 px-0 align-self-center">#1</span>
                  <a href="ecom-product-detail.html"><img class="img-fluid rounded mr-3" width="85"
                      src="../image/briyani.jpg" alt="DexignZone"></a>
                  <div class="media-body col-sm-4 col-6 col-xxl-5 px-0">
                    <h5 class="mt-0 mb-3"><a class="text-black" href="ecom-product-detail.html">CHICKEN BRIYANI</a></h5>
                    <small class="font-w500"><strong class="text-secondary mr-2">$150</strong> <a class="text-primary"
                        href="javascript:void(0);">BRIYANI</a></small>
                  </div>
                  <div class="media-footer ml-auto col-3 px-0 d-flex align-self-center align-items-center">
                    <div class="mr-3">
                      <span class="peity-success" data-style="width:100%;" style="display: none;">0,2,1,4</span><svg
                        class="peity" height="30" width="47">
                        <polygon fill="rgba(48, 194, 89, .2)"
                          points="0 28.5 0 28.5 15.666666666666666 15 31.333333333333332 21.75 47 1.5 47 28.5">
                        </polygon>
                        <polyline fill="none" points="0 28.5 15.666666666666666 15 31.333333333333332 21.75 47 1.5"
                          stroke="#30c259" stroke-width="3" stroke-linecap="square"></polyline>
                      </svg>
                    </div>
                    <div>
                      <h3 class="mb-0 font-w600 text-black">524</h3>
                      <span class="fs-14">Sales (12%)</span>
                    </div>
                  </div>
                </div>
                <div class="media items-list-1">
                  <span class="number col-1 px-0 align-self-center">#2</span>
                  <a href="ecom-product-detail.html"><img class="img-fluid rounded mr-3" width="85"
                      src="../image/dhosa.jpg" alt="DexignZone"></a>
                  <div class="media-body col-sm-4 col-6 col-xxl-5 px-0">
                    <h5 class="mt-0 mb-3 text-black"><a class="text-black" href="ecom-product-detail.html"> SPECIAL DHOSA</a></h5>
                    <small class="font-w500"><strong class="text-secondary mr-2">$20</strong> <a class="text-primary"
                        href="javascript:void(0);">dhosa</a></small>
                  </div>
                  <div class="media-footer ml-auto col-3 px-0 d-flex align-self-center align-items-center">
                    <div class="mr-3">
                      <span class="peity-danger" data-style="width:100%;" style="display: none;">4,1,2,0</span><svg
                        class="peity" height="30" width="47">
                        <polygon fill="rgba(248, 79, 78, .2)"
                          points="0 28.5 0 1.5 15.666666666666666 21.75 31.333333333333332 15 47 28.5 47 28.5">
                        </polygon>
                        <polyline fill="none" points="0 1.5 15.666666666666666 21.75 31.333333333333332 15 47 28.5"
                          stroke="#f84f4e" stroke-width="3" stroke-linecap="square"></polyline>
                      </svg>
                    </div>
                    <div>
                      <h3 class="mb-0 font-w600 text-black">215</h3>
                      <span class="fs-14">Sales (12%)</span>
                    </div>
                  </div>
                </div>
                <div class="media items-list-1">
                  <span class="number col-1 px-0 align-self-center">#3</span>
                  <a href="ecom-product-detail.html"><img class="img-fluid rounded mr-3" width="85"
                      src="../image/parotta.jpg" alt="DexignZone"></a>
                  <div class="media-body col-sm-4 col-6 col-xxl-5 px-0">
                    <h5 class="mt-0 mb-3 text-black"><a class="text-black" href="ecom-product-detail.html">PAROTTA WITH CHICKEN CURRY</a></h5>
                    <small class="font-w500"><strong class="text-secondary mr-2">$6</strong> <a class="text-primary"
                        href="javascript:void(0);">Parotta</a></small>
                  </div>
                  <div class="media-footer ml-auto col-3 px-0 d-flex align-self-center align-items-center">
                    <div class="mr-3">
                      <span class="peity-success" data-style="width:100%;" style="display: none;">0,2,1,4</span><svg
                        class="peity" height="30" width="47">
                        <polygon fill="rgba(48, 194, 89, .2)"
                          points="0 28.5 0 28.5 15.666666666666666 15 31.333333333333332 21.75 47 1.5 47 28.5">
                        </polygon>
                        <polyline fill="none" points="0 28.5 15.666666666666666 15 31.333333333333332 21.75 47 1.5"
                          stroke="#30c259" stroke-width="3" stroke-linecap="square"></polyline>
                      </svg>
                    </div>
                    <div>
                      <h3 class="mb-0 font-w600 text-black">524</h3>
                      <span class="fs-14">Sales (12%)</span>
                    </div>
                  </div>
                </div>
                <div class="media items-list-1">
                  <span class="number col-1 px-0 align-self-center">#4</span>
                  <a href="ecom-product-detail.html"><img class="img-fluid rounded mr-3" width="85"
                      src="../image/idly.jpg" alt="DexignZone"></a>
                  <div class="media-body col-sm-4 col-6 col-xxl-5 px-0">
                    <h5 class="mt-0 mb-3 text-black"><a class="text-black" href="ecom-product-detail.html">IDLY WITH MUTTON</a></h5>
                    <small class="font-w500"><strong class="text-secondary mr-2">$40</strong> <a class="text-primary"
                        href="javascript:void(0);">IDLY</a></small>
                  </div>
                  <div class="media-footer ml-auto col-3 px-0 d-flex align-self-center align-items-center">
                    <div class="mr-3">
                      <span class="peity-success" data-style="width:100%;" style="display: none;">0,2,1,4</span><svg
                        class="peity" height="30" width="47">
                        <polygon fill="rgba(48, 194, 89, .2)"
                          points="0 28.5 0 28.5 15.666666666666666 15 31.333333333333332 21.75 47 1.5 47 28.5">
                        </polygon>
                        <polyline fill="none" points="0 28.5 15.666666666666666 15 31.333333333333332 21.75 47 1.5"
                          stroke="#30c259" stroke-width="3" stroke-linecap="square"></polyline>
                      </svg>
                    </div>
                    <div>
                      <h3 class="mb-0 font-w600 text-black">76</h3>
                      <span class="fs-14">Sales (12%)</span>
                    </div>
                  </div>
                </div>
                <div class="media items-list-1">
                  <span class="number col-1 px-0 align-self-center">#5</span>
                  <a href="ecom-product-detail.html"><img class="img-fluid rounded mr-3" width="85"
                      src="../image/chapti.jpg" alt="DexignZone"></a>
                  <div class="media-body col-sm-4 col-6 col-xxl-5 px-0">
                    <h5 class="mt-0 mb-3 text-black"><a class="text-black" href="ecom-product-detail.html">CHAPTI</a></h5>
                    <small class="font-w500"><strong class="text-secondary mr-2">$6</strong> <a class="text-primary"
                        href="javascript:void(0);">CHAPTI</a></small>
                  </div>
                  <div class="media-footer ml-auto col-3 px-0 d-flex align-self-center align-items-center">
                    <div class="mr-3">
                      <span class="peity-danger" data-style="width:100%;" style="display: none;">4,1,2,0</span><svg
                        class="peity" height="30" width="47">
                        <polygon fill="rgba(248, 79, 78, .2)"
                          points="0 28.5 0 1.5 15.666666666666666 21.75 31.333333333333332 15 47 28.5 47 28.5">
                        </polygon>
                        <polyline fill="none" points="0 1.5 15.666666666666666 21.75 31.333333333333332 15 47 28.5"
                          stroke="#f84f4e" stroke-width="3" stroke-linecap="square"></polyline>
                      </svg>
                    </div>
                    <div>
                      <h3 class="mb-0 font-w600 text-black">180</h3>
                      <span class="fs-14">Sales (12%)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
      



    </div>

  </div>



  <script src="../node_modules/bootstrap/js/dist/dropdown.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../node_modules/echarts/dist/echarts.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->

  


</body>

</html>